@import "../../globalStyles"

.md-button
  -fx-text-fill: #444
  -fx-background-color: $button-color
  -fx-background-insets: 0
  -fx-padding: 6 12
  -fx-background-radius: 2px
  -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 4, 0.0, 0, 1)


.md-button:pressed
  -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 8, 0.0, 0, 3)


.md-button:focused
  -fx-background-color: $button-focus-color
  -fx-background-insets: 0, 1

.create-save-button
  -fx-background-color: $secondary-500
  -fx-text-fill: $white-text

.create-save-button:focused
  -fx-background-color: $secondary-300
  -fx-background-insets: 0, 1
