@import "../../globalStyles"

.button, .toggle-button
  -fx-text-fill: $black-text
  -fx-background-color: $button-color
  -fx-background-insets: 0
  -fx-padding: 6 12
  -fx-background-radius: 2px
  -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 4, 0.0, 0, 1)

.split-menu-button
  -fx-text-fill: $black-text
  -fx-background-color: $button-color
  -fx-background-radius: 2px
  -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 4, 0.0, 0, 1)

.split-menu-button > .label
  -fx-background-color: $button-color

.split-menu-button .arrow-button
  -fx-text-fill: $black-text
  -fx-background-color: $button-color

.button:pressed
  -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 8, 0.0, 0, 3)

.button:hover, .toggle-button:hover
  -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.5), 8, 0.0, 0, 3)

.split-menu-button:hover
  -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.5), 8, 0.0, 0, 5)

.button:focused, .toggle-button:focused
  -fx-background-color: $button-focus-color
  -fx-background-insets: 0, 1

.create-save-button, .button-default
  -fx-background-color: $secondary-500
  -fx-text-fill: $white-text

.create-save-button:focused, .button-default:focused
  -fx-background-color: $secondary-300
  -fx-background-insets: 0, 1

.button-cancel
  -fx-background-color: $button-color
  -fx-text-fill: $black-text

.button-cancel:focused
  -fx-background-color: $button-focus-color
  -fx-background-insets: 0, 1


.split-menu-button.context-menu .menu-item
  -fx-background-color: $list-cell-color
  -fx-background-insets: 0
  -fx-padding: 3 6
  -fx-background-radius: 1px

.split-menu-button .context-menu .menu-item .label
  -fx-text-fill: $black-text

.split-menu-button .context-menu .menu-item:focused .label
  -fx-text-fill: $black-text

.split-menu-button .context-menu .menu-item:selected .label
  -fx-text-fill: $white-text

.split-menu-button .context-menu .menu-item:hover .label
  -fx-text-fill: $white-text

.split-menu-button .context-menu .menu-item:focused
  -fx-background-color: $list-cell-focused-color
  -fx-background-insets: 0, 1

.split-menu-button .context-menu .menu-item:selected
  -fx-background-color: $list-cell-selected-color
  -fx-background-insets: 0, 1

.split-menu-button .context-menu .menu-item:hover
  -fx-background-color: $list-cell-hover-color
  -fx-background-insets: 0, 1

.danger-will-robinson
  -fx-background-color: $error-red
  -fx-text-fill: $white-text

.dont-panic
  -fx-background-color: $safe-green
  -fx-text-fill: $white-text