@import "../../globalStyles"

.tab
  -fx-text-fill: $black-text
  -fx-background-color: $button-color
  -fx-background-insets: 0
  -fx-padding: 6 12
  -fx-background-radius: 2px
  -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.25), 4, 0.0, 0, 1)

.tab-add-button
  -fx-background-color: $button-color

.tab-add-button:hover
  -fx-background-color: $primary-500

.tab:hover
  -fx-color: $button-focus-color

