@import "sass-material-colors/sass/sass-material-colors"

$primary-100: material-color('grey', '100')
$primary-300: material-color('grey', '300')
$primary-500: material-color('grey', '500')

$secondary-100: material-color('blue', '100')
$secondary-300: material-color('blue', '300')
$secondary-500: material-color('blue', '500')

$black: material-color('black')
$black-dividers: opacify(material-color('black'), 0.12)
$black-disabled: opacify(material-color('black'), 0.26)
$black-text-secondary: opacify(material-color('black'), 0.54)
$black-text: opacify(material-color('black'), 0.87)

$white: material-color('white')
$white-dividers: opacify(material-color('white'), 0.12)
$white-disabled: opacify(material-color('white'), 0.3)
$white-text-secondary: opacify(material-color('white'), 0.7)
$white-text: opacify(material-color('white'), 1)

$error-red: material-color('red', '500')

$list-cell-color: material-color('white')
$list-cell-selected-color: material-color('grey', '300')
$list-cell-focused-color: material-color('grey', '200')
$list-cell-hover-color: material-color('grey', '400')

$combo-box-color: material-color('grey', '100')
$combo-box-pressed-color: material-color('grey', '200')

$choice-box-color: material-color('grey', '100')
$choice-box-pressed-color: material-color('grey', '200')

$button-color: material-color('grey', '100')
$button-focus-color: material-color('grey', '200')

$delete-red: material-color('red', '500')

