@import "colours"
@import "fonts"
$font-stack: Roboto

.root
  font: 1em $font-stack
  -fx-background-color: $primary-100
  background-color: $primary-100
  -fx-accent: $secondary-500
  -fx-focus-colour: $secondary-500