@import "globalStyles"

.search-input-placeholder
  -fx-prompt-text-fill: $list-cell-focused-color
  -fx-prompt-effect:?

.search-input-placeholder:hover
  -fx-prompt-text-fill: $list-cell-focused-color

.list-cell-background
  -fx-background-color: transparent

