.mdrd-button {
    -fx-background-color: #F44336;
    -fx-text-fill: #FAFAFA;
    -fx-font-size: 12px;
    -fx-min-height: 3em;
    -fx-max-height: 3em;
    -fx-min-width: 3em;
    -fx-max-width: 3em;
}