@import "../../globalStyles"

.reportingToolbar
  -fx-background-color: $primary-500

.reportingContent
  -fx-background-color: $secondary-500

.reportingLowerThird
  -fx-background-color: $primary-500

.base
  -fx-background-color: $secondary-500

.root
  -fx-background-color: $white-dividers