@import "../../colours"

.reportingToolbar
  -fx-background-color: $secondary-500
  -fx-background-radius: 2

.reportingToolbar .md-button
  -fx-background-radius: 0

.reportingToolbar .md-button .left-button
  -fx-background-radius: 2 0 0 2

.reportingToolbar .md-button .right-button
  -fx-background-radius: 0 2 2 0

.reportingContent
  -fx-background-color: $primary-100

.reportingLowerThird
  -fx-background-color: $primary-300

.base
  -fx-background-color: $primary-300

.root
  -fx-background-color: $white-dividers