@import "../globalStyles"

.scrumBoard
  -fx-background-color: $primary-300

.scrumBoard-story
  -fx-background-radius: 5px
  -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.4), 8, 0.0, 0, 3)

.scrumBoard-header
  -fx-background-color: $primary-300


.scrumBoard-header .label
  -fx-text-fill: $black-text