@import "../globalStyles"

.scrumBoard
  -fx-background-color: $primary-100

.scrumBoard-story
  -fx-border-width: 1px
  -fx-border-colour: $primary-300
  -fx-background-color: $primary-100
  -fx-background-radius: 5px
  -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.4), 8, 0.0, 0, 3)

.scrumBoard-header
  -fx-background-color: $primary-100


.scrumBoard-header .label
  -fx-text-fill: $black-text