@import "../colours"

.default-tablecell
  -fx-border-color: $backlog-story-state-default
  -fx-border-width: 0 1 0 7
  -fx-background-insets: 0 1 0 7

.red-tab-tablecell
  -fx-border-color: $backlog-story-state-red
  -fx-border-width: 0 1 0 7
  -fx-background-insets: 0 1 0

.green-tab-tablecell
  -fx-border-color: $backlog-story-state-green
  -fx-border-width: 0 1 0 7
  -fx-background-insets: 0 1 0 7

.orange-tab-tablecell
  -fx-border-color: $backlog-story-state-orange
  -fx-border-width: 0 1 0 7
  -fx-background-insets: 0 1 0 7
